<a href="https://colab.research.google.com/github/Han-JungHyeon/project3/blob/main/project3_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
Oriental = pd.read_csv('/content/drive/MyDrive/Colab data (Project3)/Oriental_Painting.csv')
Masterpiece = pd.read_csv('/content/drive/MyDrive/Colab data (Project3)/Masterpiece.csv')
Abstract = pd.read_csv('/content/drive/MyDrive/Colab data (Project3)/Abstract.csv')
Contemporary_art = pd.read_csv('/content/drive/MyDrive/Colab data (Project3)/Contemporary_Art.csv')
Picture = pd.read_csv('/content/drive/MyDrive/Colab data (Project3)/Picture.csv')
Illust = pd.read_csv('/content/drive/MyDrive/Colab data (Project3)/Illust.csv')
data = pd.read_csv('/content/drive/MyDrive/Colab data (Project3)/data.csv')

In [3]:
data.head(3)

,Title,Artist,Hash_tag,Price,URL,Type
0,건조대가 있는 집,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000",https://www.wart.co.kr/product/%EA%B1%B4%EC%A1...,Masterpiece
1,엄마와 딸,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000",https://www.wart.co.kr/product/%EC%97%84%EB%A7...,Masterpiece
2,라일락,파니 브레이트 (Fanny Brate),#인상주의 #쉐비 #꽃,"43,000",https://www.wart.co.kr/product/%EB%9D%BC%EC%9D...,Masterpiece

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['Hash_tag'])
print('TF-IDF 행렬의 크기(shape) :',tfidf_matrix.shape)

cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과 :',cosine_sim.shape)

TF-IDF 행렬의 크기(shape) : (4307, 196)
코사인 유사도 연산 결과 : (4307, 4307)

In [12]:
title_to_index = dict(zip(data['Title'], data.index))

In [46]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # 선택한 그림의 타이틀로부터 해당 그림의 인덱스를 받아온다.
    idx = title_to_index[title]

    # 해당 그림와 모든 그림와의 유사도를 가져온다.
    sim_scores = list(enumerate(cosine_sim[idx]))

    # 유사도에 따라 그림들을 정렬한다.
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # 가장 유사한 5개의 그림를 받아온다.
    sim_scores = sim_scores[1:6]

    # 가장 유사한 5개의 그림의 인덱스를 얻는다.
    movie_indices = [idx[0] for idx in sim_scores]

    # 가장 유사한 5개의 그림의 제목을 리턴한다.
    return data[['Title', 'Artist', 'Price', 'URL']].iloc[movie_indices]

In [50]:
get_recommendations('왕의 슬픔')

,Title,Artist,Price,URL
243,핑크다발,라울 뒤피 (Raoul Dufy),"43,000",https://www.wart.co.kr/product/%ED%95%91%ED%81...
248,아네모네,라울 뒤피 (Raoul Dufy),"43,000",https://www.wart.co.kr/product/%EC%95%84%EB%84...
2001,오세아니아의 기억,앙리 마티스 (Henri Matisse),"58,000",https://www.wart.co.kr/product/%EC%98%A4%EC%84...
1898,노랑과 파랑의 실내,앙리 마티스 (Henri Matisse),"58,000",https://www.wart.co.kr/product/%EB%85%B8%EB%9E...
1930,폴리네시아 바다,앙리 마티스 (Henri Matisse),"58,000",https://www.wart.co.kr/product/%ED%8F%B4%EB%A6...